
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1df9e1fae9.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - Lite Chat</title>
</head>

<body>
    <header>
        <img src="~/arfp-crm2.svg" />
        <h1>Lite Chat</h1>
        <a class="header-button btn" href="#">  Log in</a>
        <a class="header-button btn" href="#"> Register</a>

    </header>

    <div class="container">
        <aside>
            <h3>Users</h3>
            <section class="user-section">
                <table class="user-table">
                    <tr>
                        <td>Mike</td>
                    </tr>
                    <tr>
                        <td>Joe</td>
                    </tr>
                    <tr>
                        <td>Maria</td>
                    </tr>
                    <tr>
                        <td>Leo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>

                    <tr>
                        <td>Maria</td>
                    </tr>
                    <tr>
                        <td>Leo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Mike</td>
                    </tr>
                    <tr>
                        <td>Joe</td>
                    </tr>
                    <tr>
                        <td>Maria</td>
                    </tr>
                    <tr>
                        <td>Leo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>

                    <tr>
                        <td>Maria</td>
                    </tr>
                    <tr>
                        <td>Leo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                </table>
            </section>

            <h3>Salons</h3>
            <section class="user-section">
                <table class="user-table">
                    <tr>
                        <td>Mike</td>
                    </tr>
                    <tr>
                        <td>Joe, Mike, Maria</td>
                    </tr>
                    <tr>
                        <td>Maria</td>
                    </tr>
                    <tr>
                        <td>Leo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>

                    <tr>
                        <td>Maria</td>
                    </tr>
                    <tr>
                        <td>Leo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                </table>
            </section>
        </aside>

        <main role="main">
            @RenderBody()
        </main>
    </div>


    <footer><i class="far fa-copyright"></i> Copyright 2021</footer>
</body>

</html>











@*<!DOCTYPE html>

    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>*@
