<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="~/css/Style.css" rel="stylesheet" />*@
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1df9e1fae9.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - Lite Chat</title>
</head>

<body>
    <header>
        <div id="header-left-content" class="header-div">
            @*<img id="header-logo" src="~/arfp-crm2.svg" />*@
            <img id="header-logo" src="http://arfp.eu/assets/crm-logo-new.png" />
            <h1 id="header-title">Lite Chat</h1>
        </div>
        <div id="header-right-content" class="header-div">
            <p id="header-status">Username (a remplacer par le viewbag) : Connecté</p>
            <a id="header-button" href="#">  Déconnexion</a>
        </div>
        @*<p>@ViewBag.UserName : Connecté</p>*@

    </header>

    <div class="container">
        <aside id="aside-panel">
            <section id="section-user">
                <h3>Users</h3>
                <div class="div-table">
                    <table class="section-table">
                        <tr>
                            <td>Mike</td>
                        </tr>
                        <tr>
                            <td>Joe</td>
                        </tr>
                        <tr>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td>Leo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td>Leo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <td>Mike</td>
                        </tr>
                        <tr>
                            <td>Joe</td>
                        </tr>
                        <tr>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td>Leo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td>Leo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                    </table>
                </div>
            </section>

            <section id="section-room">
                <h3>Salons</h3>
                <div class="div-table">
                    <table class="section-table">
                        <tr>
                            <td>Mike</td>
                        </tr>
                        <tr>
                            <td>Joe, Mike, Maria</td>
                        </tr>
                        <tr>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td>Leo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>

                        <tr>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td>Leo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                    </table>
                </div>
            </section>
        </aside>

        <main role="main">
            @RenderBody()
        </main>
    </div>


    <footer>&copy; Copyright 2021 - masoud/nthouvenot/kawaroro/kyweez</footer>
</body>

</html>